{% extends "index.html" %}
{% block about %}
<h2>About Me</h2>
<p style="text-align:left">
I'm a software developer, currently working in the Computer Vision group at <a href="https://www.roke.co.uk">Roke Manor Research Ltd.</a>
Since graduating with a MSci in Physics, I have worked on a diverse range of projects, supporting both defence and commercial customers in finding novel solutions to their challenging problems.
</p>
<p style="text-align:left">
I have experience working in both Python and C++ to develop a full range of applications, from capability demonstrators to user-friendly, cross-platform graphical user interfaces. I am confident using Git for version control, and platforms such as Gitlab to manage Continuous Integration and Delivery of software.
I have been involved in developing for both Windows and Linux, preferring to use Linux as a development environment where possible. While happy to work under any project methodology, I am most comfortable working as part of an Agile or Lean team. In my current role, I regularly contribute to project planning and bidding, as well as supporting business development work.
</p>
{% endblock %}
