{% extends "projectdetail.html" %}
{% block project %}
				<h1>Automated Industrial Inspection</h1>
				<p>
				Most notably, I have been the primary developer working to build an automated industrial inspection system,
				based on a COTS system comprising of small, low baseline stereo optics.
				I have been involved in the project from the beginning, carrying out low TRL feasibilty assesments, producing
				technology demonstrators of system components, and developing verification and validation tools, including
				designing and producing hardware models, and devoloping software simulations using the ray-tracing software
				<a href="http://www.povray.org/">POVRay</a>.
				I am named as an inventor on UK and US patents for the measurement approach developed, which have been granted.
				</p>
				<p>
				This technology is now approaching TRL6, and is being applied in the field.
				The maintenence burden has been reduced from a multiple hour, skilled inspection, to an un-skilled, 3 minute
				data capture task.
				Further automation of other inspection tasks is being investigated, as well as work to build a toolkit of
				supporting capabilities to further autonomise the operatives in the field. The programme has generated in excess
				of £1million of revenue to date, with significant further funding expected.
				</p>
				<p>
				I have been involved in all aspects of the project, not restricted to the technical work, but also the project
				planning and forecasting, and all manner of client interaction.
{% endblock %}
