<!doctype html>
<title>Harry Uzzell</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename="elusive-icons/css/elusive-icons.min.css") }}">
<body class="day">
  <div class=page>
    <form>
      <div class=metanav>
        <button class="btn tablinks" formaction="{{ url_for('about') }}"  id="defaultOpen">About</button>
        <button class="btn tablinks" formaction="{{ url_for('projects') }}"  id="defaultOpen">Projects</button>
        <button class="btn tablinks" formaction="{{ url_for('hobbies') }}"  id="defaultOpen">Hobbies</button>
        {% if not session.logged_in %}
        <button class="btn tablinks" formaction="{{ url_for('login') }}" id="defaultOpen">Log In</button>
        {% else %}
        <button class="btn tablinks" formaction="{{ url_for('startpage') }}"  id="defaultOpen">Startpage</button>
        <button class="btn tablinks" formaction="{{ url_for('logout') }}"  id="defaultOpen">Log Out</button>
        {% endif %}
      </div>
    </form>
    {% block body %}{% endblock %}
  </div>
</body>
