{% extends "index.html" %}
{% block hobbies %}
<h2>Hobbies and Interests</h2>
<p>
Outside of work, I enjoy:
<ul>
  <li><a href="https://bouldershack.co.uk/">Bouldering</a> (rock-climbing without ropes).</li>
  <li>Drinking <a href="https://untappd.com/user/Harry-Uzzell">craft beer</a> and <a href="http://www.camra.org.uk/">real ale</a></li>
  <li>Playing <a href="https://boardgamegeek.com/">boardgames</a> and <a href="http://steamcommunity.com/id/uzzthefuzz/">PC games</a></li>
</p>
{% endblock %}
