{% extends "base.html" %}
{% block body %}
{% block title %}{% endblock %}
<div id="mainbox">
  <div id="box-contents">
    {% block mainbox %}{% endblock %}
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="column">
    <a class="icon linkedin" href="https://www.linkedin.com/in/harry-uzzell"><i class="el el-linkedin el-4x"></i></a>
  </div>
  <div class="column">
    <a class="icon github" href="https://github.com/HarryU"><i class="el el-github el-4x"></i></a>
  </div>
  <div class="column">
    <a class="icon envelope" href="mailto:hmucs@yahoo.co.uk"><i class="el el-envelope-alt el-4x"></i></a>
  </div>
</div>
<br>
<br>
<br>
{% endblock %}
